# ignore tifs
# An asterisk is a wildcard that matches zero or more characters. 
*.tif
*.jp2

# Don't track anything in sentinel folders
S2*

# don't track the checkpoints
.ipynb_checkpoints/*

# don't track anything in the data folder
data/*